// font
@import url(../css/NotoSansKR.css);

// component
// main - MainText
.txt-wrap {
  text-align: center;
  .category {
    display: block;
    font-size: 1.35417vw;
    font-weight: bolder;
    color: $color-white;
  }
  .title {
    display: inline-block;
    padding: 0.52083vw 0vw;
    font-size: 2.91667vw;
    font-weight: 900;
    line-height: 109.43396%;
    white-space: pre-wrap;
    color: $color-white;
  }
}

// main - WorkText
.work-txt-wrap {
  .title {
    font-size: 4.16667vw;
    line-height: 1.2;
    .em {
      font-weight: 900;
    }
  }
  .info {
    margin-top: 0.83333vw;
    font-size: 1.04167vw;
    li + li {
      margin-top: 0.20833vw;
    }
  }
  .desc {
    margin-top: 4.16667vw;
    font-size: 0.9375vw;
    line-height: 166.66667%;
    white-space: pre-wrap;
  }
  .device-ico {
    display: flex;
    margin-top: 5.20833vw;
    li {
      width: 1.66667vw;
      height: 1.875vw;
      &.mobile {
        background: url('../images/ico/ico_mobile.svg') no-repeat center center;
        background-size: contain;
      }
      &.pc {
        background: url('../images/ico/ico_pc.svg') no-repeat center center;
        background-size: contain;
      }
      + li {
        margin-left: 1.25vw;
      }
    }
  }
}

// main - TitleText
.prj-txt-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.5625vw 0vw 2.29167vw;
  max-width: 1260px;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: 120%;
  .layout-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .category {
      font-size: 1.04167vw;
      font-weight: 900;
    }
    .title {
      font-weight: 900;
    }
  }
  .layout-right {
    font-size: 1.04167vw;
    font-weight: 900;
  }
  + .prj-txt-wrap {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

// icon
.ico-download {
  display: inline-block;
  width: 1.14583vw;
  height: 0.98958vw;
  background: url('../images/ico/ico_download_w.svg') no-repeat center center;
  background-size: 1.14583vw;
}

// header
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0vw 2.60417vw;
  width: 100%;
  height: 4.89583vw;
  .logo {
    width: 10.26042vw;
    height: 3.33333vw;
    svg {
      width: 100%;
    }
  }
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    .menu-item {
      font-size: 0.9375vw;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
    }
    > li {
      &:first-child {
        margin-right: 1.25vw;
      }
      &:nth-child(2) {
        position: relative;
        z-index: 0;
        padding-right: 3.33334vw;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 1.66667vw;
          z-index: 1;
          width: 0.3125vw;
          height: 0.3125vw;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &:last-child {
        .menu-item {
          color: $color-white;
          .ico-download {
            margin-left: 0.52083vw;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
